@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 15px;
}

.header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  height: 100%;
  padding: 10px 0 11px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #515369;
}

.fixed {
  height: 50px;
  position: fixed;
  background: #31344e;
}
.fixed .header__inner {
  border: 0;
  padding: 0;
}

.nav__link {
  opacity: 0.75;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin-left: 50px;
}
.nav__link:first-child {
  margin-left: 0;
}
.nav__link:last-child {
  margin-right: 10px;
}
.nav__link:hover {
  opacity: 1;
}

.logo {
  padding: 38px 0 30px 0;
}

.bars {
  display: none;
  margin-right: 20px;
}

.bars-active .mod1 {
  transform: translateY(8px) rotate(50deg);
}
.bars-active .mod2 {
  display: none;
}
.bars-active .mod3 {
  transform: rotate(-50deg);
}

.bars__item {
  display: block;
  width: 30px;
  height: 3px;
  background: #ffffff;
}

.mod1 {
  margin: 0 0 5px 0;
}

.mod3 {
  margin: 5px 0 0 0;
}

.intro {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/one__display/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
}

.intro__inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.intro__title {
  padding: 100px 0 50px 0;
  margin-top: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

.intro__text {
  padding-top: 41px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.intro__button {
  display: block;
  margin-top: 77px;
  text-align: center;
  margin-bottom: 77px;
}

.intro__more {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  padding: 18px 54px 18px 56px;
  background: #e84545;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.intro__more:hover {
  background: #fb0c21;
}

.services {
  margin: 100px 0;
}

.services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service__item {
  max-width: 316px;
  width: 33.3333333333%;
  padding: 0 40px;
  margin: 25px 0;
}

.services__img {
  text-align: center;
}

.services__title {
  padding-top: 14px;
  text-align: center;
  color: #2d3033;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.services__content {
  padding-top: 25px;
  text-align: center;
  color: #6c7279;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
}

.portfolio__item {
  margin: 0;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  overflow: hidden;
  position: relative;
  width: 25%;
  height: 350px;
  transition: all 0.2s linear;
}
.portfolio__item img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

.portfolio__item:hover .portfolio__about {
  opacity: 1;
}

.portfolio__about {
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s linear;
}

.about__content {
  text-align: center;
}
.about__content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.about__content h3 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.team {
  margin: 100px 0;
}

.team__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  padding: 0 15px;
  width: 25%;
  margin-bottom: 70px;
}
.team__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__about {
  width: 100%;
}
.team__about h2 {
  margin-top: 30px;
  color: #2d3033;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.team__about h3 {
  font-family: "Raleway", sans-serif;
  margin-top: 16px;
  color: #e84545;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.team__about p {
  margin-top: 29px;
  margin-bottom: 31px;
  color: #6c7279;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.social a {
  text-decoration: none;
  color: #c6cacc;
  font-size: 24px;
  border: 1px solid #e8ecee;
  transition: all 0.2s linear;
}
.social a:hover {
  background: #000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.social--info {
  margin: 20px 0 0 0;
  justify-content: center;
}
.social--info a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  border: 1px solid #ffffff;
  transition: all 0.2s linear;
}
.social--info a:hover {
  background: #ffffff;
  color: #3a3e64;
  border: 1px solid #3a3e64;
}

.facebook {
  padding: 11px 16px;
}

.twitter {
  padding: 11px 11px;
}

.in {
  padding: 11px 13px;
}

.comments {
  background-color: #53354a;
}

.comments__slider {
  height: 500px;
  overflow: hidden;
}

.comments__item {
  display: flex;
  flex-wrap: wrap;
}

.comments__photo {
  overflow: hidden;
  height: 500px;
  width: 50%;
  position: relative;
}

.comments__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.comments__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  width: 50%;
  color: #ffffff;
}

.comments__text {
  width: 500px;
  font-family: sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-style: italic;
}

.comments__author {
  margin: 30px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.slick-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  z-index: 2;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 40px solid #ffffff;
  border-left: 0;
}

.slick-next {
  position: absolute;
  top: 40%;
  right: 3%;
  z-index: 2;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #ffffff;
  border-right: 0;
}

.slick-arrow {
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0;
  outline: none;
  background: none;
}

.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  color: #2d3033;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
}

.download__text p {
  margin: 16px 0 40px 0;
  color: #2d3033;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.download__link {
  color: #ffffff;
  font-family: "Raleway - Semi Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  padding: 18px 83px;
  background-color: #e84545;
  transition: all 0.2s linear;
  border-radius: 5px;
}
.download__link:hover {
  background: #fb0c21;
}

.info {
  padding: 70px 0;
  background-color: #3a3e64;
}

.info__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info__item {
  width: 33.33333%;
  text-align: center;
  padding: 0 15px;
}

.info__title {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.info__address {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
}

.info__text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
}

.footer {
  padding: 29px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #313454;
  color: #808080;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer span {
  color: #ffffff;
}

.copyright {
  width: 312px;
}

@media (max-width: 1250px) {
  .portfolio__item {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .nav {
    display: none;
    background: #31344e;
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    flex-direction: column;
    text-align: center;
  }
  .nav .nav__link {
    padding: 9px 0px;
    margin-left: 0;
    margin-right: 0;
  }

  .show {
    display: flex;
  }

  .bars {
    display: block;
  }

  .intro__title {
    font-size: 40px;
  }

  .service__item {
    width: 50%;
  }

  .team__item {
    width: 50%;
  }
  .team__item img {
    margin: 0 auto;
  }

  .team__about {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .comments__photo {
    height: 400px;
    margin-bottom: 40px;
    overflow: hidden;
    width: 100%;
  }

  .comments__content {
    padding: 20px 0 40px 0;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
  }

  .comments__text {
    font-size: 25px;
  }

  .download {
    margin: 50px 0;
  }

  .download__title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .intro {
    height: auto;
  }

  .intro__title {
    padding: 130px 0 50px 0;
    font-size: 30px;
  }

  .intro__text {
    font-size: 16px;
  }

  .services {
    margin: 50px 0;
  }

  .service__item {
    width: 100%;
    padding: 0;
  }

  .portfolio__item {
    width: 100%;
    height: 300px;
  }

  .team {
    margin: 50px 0;
  }

  .team__item {
    width: 100%;
    padding: 0;
  }

  .comments__text {
    font-size: 20px;
  }

  .info__inner {
    padding: 30px 0;
  }

  .info__item {
    padding: 0;
    width: 100%;
    margin: 0 0 30px 0;
  }
  .info__item :last-child {
    margin: 0 4px 0 0;
  }
}
@media (max-width: 414px) {
  .comments__img {
    right: -100px;
  }
}
@media (max-width: 318px) {
  .social {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .social a {
    margin: 0 25%;
    width: 100%;
  }

  .download__link {
    font-size: 12px;
    padding: 10px;
  }

  .social--info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .social--info .facebook {
    padding: 5px 10px;
    margin: 0 25%;
  }
  .social--info .twitter {
    padding: 5px 5px;
    margin: 0 25%;
  }
  .social--info .in {
    padding: 5px 8px;
    margin: 0 25%;
  }
}